# .gitignore
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Banco de dados
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Projeto específico
imagens_questoes/
img/clip_*.png
"Versões_anteriores/"